@import ./components/landing
@import ./components/login
@import ./components/header
@import ./components/footer
@import ./components/register
@import ./components/search

*
    box-sizing: border-box
    margin: 0

body
    font-family: 'Quicksand', sans-serif
    height: 100vh
    width: 100vw

.hidden
    display: none


